<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundCloud</title>
    <style>
        body {
            text-align: center;
        }

        img {
            width: 30%;
            height: auto;
            filter: invert(100%);
            display: block;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <h1>Bienvenido a SoundCloud!</h1>
    <img src="/static/imagenes/soundcloud-icon-2048x888-k4c33ssc.png" alt="Logo de SoundCloud">

    <!--Aqui quiero que vaya un cuadrito que al hacerle click, me dirija a las canciones que tengo en la base de datos, quiero que me renderice todas las canciones que tengo en la base de datos, para que cuando le de click me dirija a la url de la cancion-->
</body>

</html>