# Ignora el entorno virtual creado

# Ignora la carpeta que genera automaticamente el fastAPI

*.db

*.py[cod]

.venv

.web

__pycache__

__pycache__/

env

cosas por hacer.txt

#--------front
web

__pycache__

assets

soundclound

requirements.txt

rxconfig.py

fronted